{{- with site.Params.homeInfoParams }}

<script>
  function createStatusLol(parentNode) {
    var statuslol = document.createElement("div");
    statuslol.className = "statuslol";
    var parentNode = document.querySelector(".statuslol_container");
    parentNode.appendChild(statuslol);
    var statuslol_text = document.createElement("p");
    statuslol_text.textContent = "status.lol is currently offline / having trouble connecting.";
    statuslol.appendChild(statuslol_text);
  }
</script>

<div class="statuslol_container">
    <script src="https://status.lol/{{- .Omg.Name -}}.js?time&link&fluent" onerror="createStatusLol()"></script>
    <noscript>
        <div class="statuslol">
            <p> Javascript is disabled. Please enable it to see the latest status.lol </p>
        </div>
    </noscript>
</div>

<style>

div.statuslol {
    background: var(--tertiary-bg) !important;
    display: flex;
    gap: 1em;
    color: #111;
    border-radius: 0.5em;
    padding: 1em;
    margin: 0.5em 0.25em 1.5em 0.25em;
}

div.statuslol:hover {
    transform: scale(1.02);
}

.statuslol p {
    color: var(--primary);
}

.statuslol_time a {
    color: var(--primary) !important;
    opacity: .75 !important;
    font-size: 13px;
}

div.statuslol_emoji_container {
    display: none;
}

</style>

{{- end -}}