<div class="right-container">

    <!-- For Links -->
    <div class="right-box">
        <a href="{{ "" | relURL }}" {{ if eq .RelPermalink "/" }}class="active" {{ end }}
        title="Travel to home page">
        <svg width="20px" height="20px" stroke="currentColor" fill="currentColor" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <path d="M31.772 16.043l-15.012-15.724c-0.189-0.197-0.449-0.307-0.721-0.307s-0.533 0.111-0.722 0.307l-15.089 15.724c-0.383 0.398-0.369 1.031 0.029 1.414 0.399 0.382 1.031 0.371 1.414-0.029l1.344-1.401v14.963c0 0.552 0.448 1 1 1h6.986c0.551 0 0.998-0.445 1-0.997l0.031-9.989h7.969v9.986c0 0.552 0.448 1 1 1h6.983c0.552 0 1-0.448 1-1v-14.968l1.343 1.407c0.197 0.204 0.459 0.308 0.722 0.308 0.249 0 0.499-0.092 0.692-0.279 0.398-0.382 0.411-1.015 0.029-1.413zM26.985 14.213v15.776h-4.983v-9.986c0-0.552-0.448-1-1-1h-9.965c-0.551 0-0.998 0.445-1 0.997l-0.031 9.989h-4.989v-15.777c0-0.082-0.013-0.162-0.032-0.239l11.055-11.52 10.982 11.507c-0.021 0.081-0.036 0.165-0.036 0.252z"></path>
        </svg>
    </a>
        <a href="{{ "search" | relURL }}" {{ if eq .RelPermalink "/search/" }}class="active" {{ end }}
            title="Travel to /search page">
            <svg height="20px" width="20px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" stroke="currentColor"
                fill="currentColor" xml:space="preserve">
                <g>
                    <path class="st0" d="M312.069,53.445c-71.26-71.26-187.194-71.26-258.454,0c-71.261,71.26-71.261,187.206,0,258.466
		c71.26,71.26,187.194,71.26,258.454,0S383.329,124.705,312.069,53.445z M286.694,286.536
		c-57.351,57.34-150.353,57.34-207.704-0.011s-57.351-150.353,0-207.693c57.351-57.351,150.342-57.351,207.693,0
		S344.045,229.174,286.694,286.536z" />
                    <path class="st0" d="M101.911,112.531c-29.357,37.725-31.801,89.631-7.321,129.702c1.877,3.087,5.902,4.048,8.978,2.182
		c3.065-1.888,4.037-5.903,2.16-8.978c-21.666-35.456-19.506-81.538,6.469-114.876c2.226-2.837,1.713-6.938-1.135-9.154
		C108.227,109.193,104.125,109.695,101.911,112.531z" />
                    <path class="st0" d="M498.544,447.722l-132.637-129.2c-7.255-7.07-18.84-6.982-26.008,0.174l-21.033,21.033
		c-7.156,7.156-7.234,18.742-0.153,25.986l129.19,132.636c14.346,17.324,35.542,18.35,51.917,1.964
		C516.216,483.951,515.857,462.068,498.544,447.722z" />
                </g>
            </svg>
        </a>
    </div>
    
    <!-- For Reader Mode -->
    <div class="right-box">
        <button id="toggle-reader-on" title="toggle 'reader mode' on - hiding unncessary elements and expanding width of body. Works on post pages only.">
            <svg height="20px" width="20px" stroke="currentColor" fill="currentColor" version="1.1" id="Layer_1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 472.615 472.615" xml:space="preserve">
                <g>
                    <g>
                        <path d="M246.153,55.558v402.885c74.135-34.307,152.741-47.774,226.463-38.569c0-134.295,0-268.589,0-402.884
			C398.896,7.786,320.289,21.252,246.153,55.558z" />
                    </g>
                </g>
                <g>
                    <g>
                        <path d="M0.001,16.99C0,151.285,0,285.579,0.001,419.874c73.719-9.204,152.325,4.262,226.46,38.568V55.557
			C152.324,21.252,73.719,7.786,0.001,16.99z" />
                    </g>
                </g>
            </svg>
        </button>
        <button id="toggle-reader-off" class="toggled" title="toggle 'reader mode' off - this is the default site experience">
            <svg height="20px" width="20px" stroke="currentColor" fill="currentColor" version="1.1" id="Layer_1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 492.308 492.308" xml:space="preserve">
                <g>
                    <g>
                        <path d="M483.683,14.104c-77.81-9.724-159.79,4.885-237.529,42.096C168.418,18.988,86.412,4.409,8.625,14.104L0,15.181v422.731
			l11.067-1.385c75.327-9.413,155.072,5.183,230.519,42.154l1.237,0.603l3.018,1.791l0.325-0.159l0.444,0.216l3.227-2.014
			l0.811-0.399c75.519-37.019,155.236-51.587,230.591-42.192l11.067,1.385V15.181L483.683,14.104z M236.308,454.431
			c-59.058-26.692-120.351-40.375-180.202-40.375c-12.207,0-24.361,0.567-36.413,1.712V32.671
			c70.966-7.077,145.577,6.856,216.615,40.587V454.431z M472.615,415.767c-71.048-6.683-145.346,6.51-216.615,38.683V73.257
			c71.038-33.731,145.611-47.683,216.615-40.587V415.767z" />
                    </g>
                </g>
            </svg>
        </button>
    </div>
</div>

<script>
    // * Scroll fade out effect * //
    // Select the right-box div
    const topRightDiv = document.querySelector('.right-container');

    // Function to handle scroll event
    function handleScroll() {
        if (window.scrollY > 150) { // scroll threshold
            topRightDiv.classList.add('fade-out');
        } else {
            topRightDiv.classList.remove('fade-out');
        }
    }

    // Add the scroll event listener
    window.addEventListener('scroll', handleScroll);

    // * Toggle reader mode * //
    // TODO: refactor into functions, but for now it works //

    document.addEventListener('DOMContentLoaded', () => {
        const toggleReaderBtnOn = document.getElementById('toggle-reader-on');
        const toggleReaderBtnOff = document.getElementById('toggle-reader-off');
        const main = document.querySelector('main');
        const mainPost = document.querySelector('.main.post');
        const postSingle = document.querySelector('.post-single');
        const tocSide = document.querySelector('.toc.side');
        const headerBar = document.querySelector('.header');
        const savedReaderMode = localStorage.getItem('readerMode');
    
        toggleReaderBtnOff.disabled = true;
    
        if (savedReaderMode === 'enabled') {
            if (main) main.classList.add('reduced-padding');  // Toggle reduced-padding class
            if (mainPost) mainPost.classList.add('full-width');
            if (postSingle) postSingle.classList.add('margin-expanded');
            if (tocSide) tocSide.classList.toggle('side');
            headerBar.classList.toggle('hidden');
    
            toggleReaderBtnOn.classList.add('toggled');
            toggleReaderBtnOn.disabled = true;
    
            toggleReaderBtnOff.classList.remove('toggled');
            toggleReaderBtnOff.disabled = false;
            localStorage.setItem('readerMode', 'enabled');
        } else {
            toggleReaderBtnOff.disabled = true;
        }
    
        toggleReaderBtnOn.addEventListener('click', () => {
            if (main) main.classList.add('reduced-padding');  // Toggle reduced-padding class
            if (mainPost) mainPost.classList.add('full-width');
            if (postSingle) postSingle.classList.add('margin-expanded');
            if (tocSide) tocSide.classList.toggle('side');
            headerBar.classList.toggle('hidden');
            localStorage.setItem('readerMode', 'enabled');
    
            toggleReaderBtnOn.classList.add('toggled');
            toggleReaderBtnOn.disabled = true;
    
            toggleReaderBtnOff.classList.remove('toggled');
            toggleReaderBtnOff.disabled = false;
        });
    
        toggleReaderBtnOff.addEventListener('click', () => {
            if (main) main.classList.remove('reduced-padding');  // Toggle reduced-padding class
            if (mainPost) mainPost.classList.remove('full-width');
            if (postSingle) postSingle.classList.remove('margin-expanded');
            if (tocSide) tocSide.classList.toggle('side');
            headerBar.classList.toggle('hidden');
            localStorage.setItem('readerMode', 'disabled');
    
            toggleReaderBtnOff.classList.add('toggled');
            toggleReaderBtnOff.disabled = true;
    
            toggleReaderBtnOn.classList.remove('toggled');
            toggleReaderBtnOn.disabled = false;
        });
    });
    
</script>