{{- define "main" }}
<div class="not-found">
    <pre style="color: var(--primary); line-height: 0.95; white-space: pre;"><a href="/">
     /     |                     |    |
    /      |___               ___|    |
   /       |  |\             /|  |   /
  /        |  | \           / |  |  |
 /         |  |  |         |  |  |   \
/          |  |  |__     __|  |  |    |
\          |  |  | |\ _ /| |  |  |   /
 \         |  |  | | (#) | |  |  |  /
  \        |  |  |_|.nHn.|_|  |  | |
  |        |  |  |  HHHHH. |  |  | |
  /        |  | /   `HH("N  \ |  | |
 /         |__|/     HHH  "  \|__| |
 \         |         NNN         | |
  \        |         N/"         |  \
   \       |         N H         |   \  
    \     /          N            \   \
    /    /           q,            \   
\  /    /                           \   
 \/    /                             \ 
       \       Ĉi tiu paĝo ne        / 
        \      povas ekzisti.       /   
         \                         /     
         </a>
    </pre>
</div>
{{- end }}{{/* end main */ -}}