.micro-link,
.micro-content {
    font-size: 14px;
    padding-left: 10px;
    display: table-cell;
    color: var(--secondary);

}

.micro-link {
    font-weight: 700;
    min-width: 90px;
}

.micro-content:hover {
    background-color: var(--code-bg);
}

.micro-link:hover {
    color: var(--link-hover-color);
}