.right-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: calc(var(--header-height) + 10px);
    right: 10px;
    z-index: 1000;
    opacity: 0.75;
    transition: opacity 1s ease;
}

.right-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    box-sizing: content-box;
    background-color: var(--theme);
    margin-bottom: 15px;
    padding: 2px;
    /* Add any other desired styles */
}

.right-box:hover {
    opacity: 1;
    outline: 3px double grey;
}

.right-box a, button {
    margin: 3px;
    display: block;
    text-decoration: none;
    color: var(--tertiary);
    font-size: 14px;
    opacity: 0.75;
}


.right-box a.active {
    color: var(--primary);
    opacity: 1;
}

.right-box a:hover {
    opacity: 1;
}


.fade-out {
    opacity: 0;
    transition: opacity 2s ease;
}

.main.post.full-width {
    max-width: 80%;
}

.post-single.margin-expanded {
    margin-left: 45px;
}

.hidden {
    display: none;
}

button.toggled {
    color: var(--primary);
    opacity: 1;
}