.sqlime {
    /* inline code */
    background-color: var(--code-bg);
    margin: 0 10 0 10px;
    padding: 10px;
    border-radius: 3px;
    font-size: .95em;
    font-family: monospace;
    overflow-x: auto;
  }
  
  .sqlime-run-button:active {
    font-weight: bold;
    cursor: wait;
    background: #a5a4a4;
  }
  
  .sqlime-run-button {
    outline: none;
    box-sizing: border-box;
    height: 2em;
    margin: 0;
    padding: calc(0.25em - 1px) 0.5em;
    font-family: inherit;
    font-size: 1em;
    border: 1px solid #aaaaaa;
    border-radius: 2px;
    background: white;
    color: black;
    display: inline-block;
    width: auto;
    background: #f2f2f2;
    color: black;
    cursor: pointer;
    margin-bottom: 25px;
  }
  
  /* For SQL Errors */
  
  .alert {
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: 1000;
  }
  
  .alert .alert-link {
    font-weight: bold;
  }
  
  .alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
  }
  
  /* Table */
  
  .sqlime-results table {
      display: inline-block;
      border-spacing: 0;
      border-collapse: collapse;
      overflow-y: auto;
      height: 300px;
      max-width: 100%;
      text-align: left;
      vertical-align: top;
      background: linear-gradient(
                  rgba(0, 0, 0, 0.15) 0%,
                  rgba(0, 0, 0, 0.15) 100%
              )
              0 0,
          linear-gradient(rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%) 100% 0;
      background-attachment: scroll, scroll;
      background-size: 1px 100%, 1px 100%;
      background-repeat: no-repeat, no-repeat;
  }
  
  .sqlime-results table {
      border: 1px solid #000;
      line-height: 1;
      border-collapse: collapse;
  }
  
  .sqlime-results table th {
      vertical-align: top;
      padding: 0.5em;
      border-top: none;
      border-right: none;
      border-bottom: 1px solid #000;
      border-left: none;
      font-size: 1em;
      line-height: 1;
      position: sticky;
      top: 0;
      background: var(--theme);
  }
  
  .sqlime-results table th:first-child {
      padding-left: 1em;
  }
  .sqlime-results table th:last-child {
      padding-right: 1em;
  }
  
  .sqlime-results table td {
      vertical-align: top;
      padding: 0.3em 0.5em;
      border: none;
      font-size: 1em;
      line-height: 1;
  }
  
  .sqlime-results table td:first-child {
      padding-left: 1em;
  }
  .sqlime-results table td:last-child {
      padding-right: 1em;
  }
  
  .sqlime-results table tr:first-child td {
      padding-top: 0.8em;
  }
  .sqlime-results table tr:last-child td {
      padding-bottom: 0.8em;
  }
  